*{                             
    box-sizing: border-box;
}
a{
    font-size: x-small;
    text-align: center;
}
label, h1, .resultado{
    font-family: 'VALORANT', sans-serif;
    color: rgb(187, 52, 52);
    text-shadow: 0 0 2px #fff
}
h1{
    justify-self: start;
}
body{
    background-image: url(https://i.ytimg.com/vi/-5VkqpNxi_4/maxresdefault.jpg);
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: fit-content;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
}